<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <% if (error.msg !== "Invalid value") { %>
      <li><%= error.msg %></li>
    <% } %>
  <% }) %>
  </ul>
<% } %>

<div class="login-box">
  <form id="classificationForm" action="/inv/add-classification" method="post">
    <label><em>Field is required.</em></label>
    
    <label for="classification_name">Classification Name</label>
    <input type="text" id="classification_name" name="classification_name" required pattern="^[A-Za-z]+$">

    <label for="">Name must be alphabetic characters only.</label>
    <button type="submit">Add Classification</button>
  </form>
</div>