<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <% if (error.msg !== "Invalid value") { %>
      <li><%= error.msg %></li>
    <% } %>
  <% }) %>
  </ul>
<% } %>

<div>
  <a href="/inv/add-classification">Add new classification</a> <br><br>
  <a href="/inv/add-inventory">Add new inventory</a>
</div>

<div id="manageInventory">
  <h2>Manage Inventory</h2>
  <p>Select a classification from the list to see the items belonging to the classification</p>

  <%- classificationSelect %>

  <table id="inventoryDisplay">
    <noscript>JavaScript must be enabled to use this page.</noscript>
  </table>

</div>

<script src="../../js/inventory.js"></script>