<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <% if (error.msg !== "Invalid value") { %>
      <li><%= error.msg %></li>
    <% } %>
  <% }) %>
  </ul>
<% } %>

<div>
  <a href="/inv/add-classification">Add new classification</a> <br><br>
  <a href="/inv/add-inventory">Add new inventory</a>
</div>